h1 {
    color: red;
}

p {
    color: blue;
}


img:hover {
    background-color:  gold;
    height: 200px;
    width: 200px;
}

.bacon {
    background-color: red;
    height: 200px;
    width: 200px;
}

.broccoli {
    background-color: green;
    height: 200px;
    width: 200px;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: green;
}